#center {
  position: absolute;
  left: calc(1/3 * 100%);
  width: calc(1/3 * 100%);
  height: calc(100% - 20px);
  border: 2px solid black;
}

#name {
  vertical-align: middle;
}

#turd {
  vertical-align: middle;
}

#newName {
  vertical-align: middle;
}
